.episode {
  margin-top: 30px;
  width: 400px;
  
  --notchSize: 80px;
  --hoverNotchSize: 50px;
  clip-path: 
    polygon(
      0% 0%,
      calc(100% - var(--notchSize)) 2%,
      100% var(--notchSize),
      100% 100%,
      var(--hoverNotchSize) 100%,
      0% 100%
    );
  transition: clip-path 0.2s ease;
}

.episode:hover {
  --notchSize: 50px;
  clip-path: 
    polygon(
      0% 0%,
      calc(100% - var(--notchSize)) 0%,
      100% var(--notchSize),
      100% 100%,
      var(--notchSize) 95%,
      0% calc(100% - var(--notchSize))
    );
}

.image-area {
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.info-area {
  height: 368px;
  width: 368px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 16px;
  transition: background-color 0.2s ease;
}

.info-area:hover {
  background: rgba(0, 0, 0, 0.8);
}

.episode h3 {
  font-weight: bold;
  font-size: 1.3em;
}

.episode .summary {
  font-size: 1.1em;
}